@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  @apply p-2 border m-2;
}

.demo_section {
  @apply relative flex gap-4 bg-slate-100 p-2;
}

/* input:invalid {
  color: red;
} */

/* input[type="number"] {
  -webkit-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
} */
